
body {
  background-color: pink
}

.judul2{
  background: white;
  border:2px solid black;

}

.JUDUL{
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 30px
}


.deskripsi{
  border-radius: 6px;
  font-size: 35px;
  text-align: center;
  padding: 6px;
  background-color: darkred;
  color: white;
}

.pilihan{
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.pilihan:hover{
  color: green;
}

.boleh{
  background: red;
  padding: 10px 10px;
  border-radius: 10px;
}

.boleh:hover{
  background: white;
}

.enggak{
  background: red;
  padding: 10px 10px;
  border-radius: 10px;
}

.enggak:hover{
  background: white;
}